<%= form_for(tool) do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>
  <p><%= f.label :price %>
  <%= f.text_field :price %></p>
  <p><%= f.label :quantity %>
  <%= f.text_field :quantity %></p>
  <p><%= f.submit "GO!" %></p>
<% end %>
